@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,600i,700,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body, html{
    width: 100%;
    height: 100%;
}

#main-app-container{
    width: 100%;
    height: 100%;
    background-color: blue;
    font-family: "Titillium Web", sans-serif;
}

#header-banner-container{
    line-height: 100px;
    background-color: red;
    color: white;
    z-index: 200; /* refer to style diagram, i=0 */
}

#world-stream-stream-container{
    position: absolute;
    background-color: aquamarine;
    height: 90%;
    overflow-y: scroll;
    font-size: 0;
    z-index: 0; /* refer to style diagram , i=1*/
}

#app-menu-settings-container{
    z-index: 100; /* refer to style diagram , i=3*/
    background-color: white;
    color: black;
    border: 2px black solid;
    position: absolute;
    height: 0;
    display: none;
    opacity: 0;
    transition: opacity 0.5s, height 0.5s;
    border-radius: 0 0 0 15px;
    font-size: 0;
}

.menu-button-container{
    width: 100%;
    height: 33%;
    display: inline-block;
    font-size: 36px;
    line-height: 100px;
    text-align: center;
    font-weight: 700;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: color 0.25s, background-color 0.25s;
}

.menu-button-container:hover{
    background-color: black;
    color: white;
}

#app-menu-button-container{
    border-radius: 50%;
    text-align: center;
    position: absolute;
    background-color: black;
    top: 15%;
    cursor: pointer;
    z-index: 101; /* refer to style diagram , i=2*/
}

#login-page-overlay-container{
    height: 0;
    background-color: rgba(255,255, 0, 1.0);/**/
    /*background-image: url("../media/img/augr.gif");*/
    cursor: pointer;
    opacity: 0;
    display: none;
    transition: height 0.5s, opacity 0.5s;
    z-index: 150;
    position: absolute;
    overflow-y: scroll;
}

#login-header-form-component-container{
    width: 50%;
    height: 10%;
    text-align: center;
    margin: 0 auto 2% auto;
    line-height: 75px;
}

#login-instructions-form-component-container{
    width: 400px;
    height: 300px;
    margin: 10% auto;
    display: block;
    background-color: orange;
}

#submit-login-credentials-form-component-container{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 5% auto;
    text-align: center;
    line-height: 200px;
    background-color: aquamarine;
    color: white;
}

#exit-login-form-form-component-container{
  width: 50%;
  height: 10%;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 75px;
}



.form-component-container{
  width: 100px;
  height: 100px;
  background-color: red;
  display: block;
  margin: 10% auto;
}
#app-selection-page-container{
    z-index: 50;
    width: 100%;
    height: 0;
    background-color: rgba(255, 0, 255, 1.0);
    cursor: pointer;
}

.top-bins{
  background-color: blue;
}

.preview-container{
  font-weight: 900;
  line-height: 500px;
  text-align: right;
  padding: 5%;
  color: white;
  font-size: 24px;
  width: 40%;
  height: 45%;
  min-width: 150px;
  min-height: 300px;
  display: inline-block;
  border-radius: 5px;
  margin: 0;
  cursor: pointer;
  box-shadow: 0;
  border: 0;
  transition: box-shadow 0.25s, border 0.25s;
}

.preview-container:hover{
  width: 47%;
  padding: 5% 0;

  border: 5px white solid;
}

#augr-preview-container{
    background-image: url("../media/img/augr.gif");
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

#shoppAIR-preview-container{
    background-image: url("../media/img/shoppAIR.gif");
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

#snackshack-preview-container{
    background-image: url("../media/img/snackshack.gif");
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

#lyoko-preview-container{
    background-image: url("../media/img/lyoko.gif");
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

#solAR-preview-container{
    background-image: url("../media/img/solAR.gif");
    background-position: center center;
    background-repeat: no-repeat;
}

@media only screen and (min-width: 640px){

  #header-banner-container{
      position: relative;
      width: 500px;
      height: 100px;
      margin: 0 auto;
      display: block;
  }

  #world-stream-stream-container{
      width: 500px;
      margin: 0 auto;
      display: block;
      left: 50%;
      margin-left: -250px;

      top: 100px;
  }

  #app-menu-settings-container{
      width: 250px;
      right: 50%;
      margin-right: -250px;
      top: 100px;
  }

  #app-menu-button-container{
      width: 50px;
      height: 50px;
      line-height: 50px;
      right: 50%;
      margin-right: -240px;
  }

  #login-page-overlay-container{
      width: 500px;
      left: 50%;
      margin-left: -250px;
  }

  #app-selection-page-container{

  }

  #solAR-preview-container{
    background-size: 100% auto;
  }

}

@media only screen and (max-width: 640px){

  #header-banner-container{
      position: absolute;
      width: 100%;
      height: 10%;
      top: 0;
      left: 0;
  }

  #world-stream-stream-container{
      left: 0;
      margin: 0;
      width: 100%;

      top: 10%;
  }

  #app-menu-settings-container{
      width: 80%;
      height: 50%;
      right: 0;
      top: 10%;
  }

  #login-page-overlay-container{
      width: 100%;
  }

  #app-menu-button-container{
      width: 100px;
      height: 100px;
      line-height: 100px;
      right: 2%;
  }

  #app-selection-page-container{

  }

  #solAR-preview-container{
    background-size: auto 100%;
  }

}
